{% extends "layout.html" %}

{% block title %}
TODO App
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<div class="mb-3" id="msg">{{ message }}</div>

<!-- Vue.js container -->
<div id="app" class="m-3">
    {% raw %}
    <mycomp />
    {% endraw %}
</div>

<!-- mycomp's template -->
{% raw %}
<script type="text/x-template" id="mycomp-template">
    <div>
        <div class="alert alert-info">
            <h5>{{alert}}</h5>
            <ul>
                <li><a href="/doc">swagger ui</a></li>
                <li><a href="/api/todos">raw data</a></li>
            </ul>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>ID</th>
                    <th>Created at</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,key) in data" class="clickable-row" v-bind:data-id="item.id">
                    <td>{{item.task}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.created_at}}</td>
                </tr>
            </tbody>
        </table>

        <!-- <div class="modal fade" id="item_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    hoge
                    {{active_item_id}}
                </div>
            </div>
        </div> -->

    </div>
</script>
{% endraw %}

<!-- Vue.js script -->
<script>
// mycomp object
Vue.component('mycomp', {
    template: '#mycomp-template',
    data:function(){
        return {
            alert: 'TODO API',
            data: [{"id":"(null)", "task":"(null)", "crated_at":"(null)"}],
            // active_item_id: ''
        }
    },
    methods:{
        getdata: function() {
            let self = this;
            $.get("/api/todos", function(data) {
                self.data = eval(data);
            });  
        },
        // getById: function(active_item_id) {
        //     let self = this;
        //     $.get("/api/todos/" + active_item_id, function(active_item_id) {
        //         if (data == 'nodata') {
        //             self.active_item_id = 'null';
        //         } else {
        //             self.active_item_id = 'not null';
        //         }
        //     });
        // },
        // testFunc: function() {
        //     let self = this;
        //     $.ajax({
        //         type: 'GET',
        //         url: '/api/todos/',
        //     })
        //     $(".clickable-row").click(function(e) {
        //         let clicked_id = e.delegateTaget.dataset['id'];
        //         alert(clicked_id);
        //     });
        // },
        // openModal: function() {
        //     let self = this;

            
        //     $('#item_modal').modal('show');
        // },
    },
    created: function() {
        this.getdata()
    }
});



// start vue.
new Vue({
    el:'#app',
});
</script>
{% endblock %} 

<!-- {% block footer %}
{% endblock %}  -->
