{% extends "layout.html" %}

{% block title %}
TODO App
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<div class="mb-3" id="msg">{{ message }}</div>

<!-- Vue.js container -->
<div id="app" class="m-3">
    {% raw %}
    <mycomp />
    {% endraw %}
</div>

<!-- mycomp's template -->
{% raw %}
<script type="text/x-template" id="mycomp-template">
    <div class="ontainer-fluid">
        <p>
            You can create/update/delete tasks at will.<br>
            ご自由にタスクを作成/更新/削除してください。
        </p>
        <button type="button" class="btn btn-primary" @click="openCreateTaskModal()">Add a new task</button>
        <br><br>
        
        <div class="row">
            <!-- ToDo Section -->
            <div id="ToDoSection" class="col-md-4 col-sm-12 col-xs-12">
                <h2>To Do</h2>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start" v-for="item in data" v-if="item.status === 'new'">
                        <div @click="changeStatusToDone(item)">
                            <i class="sidebar-toggler bi bi-circle me-3 mt-2 h4" style="color: royalblue;"  v-if="item.status === 'new'"></i>
                            <i class="sidebar-toggler bi bi-circle me-3 mt-2 h4" style="color: royalblue;"  v-if="item.status === 'pending'"></i>
                            <i class="sidebar-toggler bi bi-check-circle-fill me-3 mt-2 h4" style="color: royalblue;"  v-if="item.status === 'done'"></i>
                        </div>
                        <div class="ms-2 me-auto container-fluid" @click="select(item)">
                            <div class="fw-bold">{{item.task}}</div>
                            <div v-if="(item.detail != null) && (item.detail != '')">
                                <i class="bi bi-file-earmark-text"></i>
                                <span>memo</span>
                            </div>
                        </div>
                        <span class="badge bg-success rounded-pill" v-if="item.status === 'new'">To Do</span>
                        <span class="badge bg-warning rounded-pill" v-if="item.status === 'pending'">Pending</span>
                        <span class="badge bg-primary rounded-pill" v-if="item.status === 'done'">Done</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start" v-if="data.filter(i => i.status === 'new').length === 0">
                        There is no "To Do" item.
                    </li>
                </ul>
            </div>

            <!-- Pending Section -->
            <div id="PendingSection" class="col-md-4 col-sm-12 col-xs-12">
                <h2>Pending</h2>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start" v-for="item in data" v-if="item.status === 'pending'">
                        <div @click="changeStatusToDone(item)">
                            <i class="sidebar-toggler bi bi-circle me-3 mt-2 h4" style="color: royalblue;"  v-if="item.status === 'new'"></i>
                            <i class="sidebar-toggler bi bi-circle me-3 mt-2 h4" style="color: royalblue;"  v-if="item.status === 'pending'"></i>
                            <i class="sidebar-toggler bi bi-check-circle-fill me-3 mt-2 h4" style="color: royalblue;"  v-if="item.status === 'done'"></i>
                        </div>
                        <div class="ms-2 me-auto container-fluid" @click="select(item)">
                            <div class="fw-bold">{{item.task}}</div>
                            <div v-if="(item.detail != null) && (item.detail != '')">
                                <i class="bi bi-file-earmark-text"></i>
                                <span>memo</span>
                            </div>
                        </div>
                        <span class="badge bg-success rounded-pill" v-if="item.status === 'new'">To Do</span>
                        <span class="badge bg-warning rounded-pill" v-if="item.status === 'pending'">Pending</span>
                        <span class="badge bg-primary rounded-pill" v-if="item.status === 'done'">Done</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start" v-if="data.filter(i => i.status === 'pending').length === 0">
                        There is no "Pending" item.
                    </li>
                </ul>
            </div>

            <!-- Done Section -->
            <div id="DoneSection" class="col-md-4 col-sm-12 col-xs-12">
                <h2>Done</h2>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start" v-for="item in data" v-if="item.status === 'done'">
                        <div @click="changeStatusToNew(item)">
                            <i class="sidebar-toggler bi bi-circle me-3 mt-2 h4" style="color: royalblue;"  v-if="item.status === 'new'"></i>
                            <i class="sidebar-toggler bi bi-circle me-3 mt-2 h4" style="color: royalblue;"  v-if="item.status === 'pending'"></i>
                            <i class="sidebar-toggler bi bi-check-circle-fill me-3 mt-2 h4" style="color: royalblue;"  v-if="item.status === 'done'"></i>
                        </div>
                        <div class="ms-2 me-auto container-fluid" @click="select(item)">
                            <div class="fw-bold"><s>{{item.task}}</s></div>
                            <div v-if="(item.detail != null) && (item.detail != '')">
                                <i class="bi bi-file-earmark-text"></i>
                                <span>memo</span>
                            </div>
                        </div>
                        <span class="badge bg-success rounded-pill" v-if="item.status === 'new'">To Do</span>
                        <span class="badge bg-warning rounded-pill" v-if="item.status === 'pending'">Pending</span>
                        <span class="badge bg-primary rounded-pill" v-if="item.status === 'done'">Done</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start" v-if="data.filter(i => i.status === 'done').length === 0">
                        There is no "Done" item.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Open Item Modal -->
        <div class="modal fade" id="item_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Task</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <span>Created at: {{picked_item.created_at}}</span><br>
                            <span>Status:</span>
                            <span class="badge bg-success rounded-pill" v-if="picked_item.status === 'new'">New</span>
                            <span class="badge bg-primary rounded-pill" v-if="picked_item.status === 'done'">Done</span>
                        </div>
                        <form>
                        <div class="mb-3">
                            <label for="task-name" class="col-form-label">Task name:</label>
                            <input type="text" class="form-control" id="task-name" v-model="f_task">
                        </div>
                        <div class="mb-3">
                            <label for="task-name" class="col-form-label">Task status:</label>
                            <select class="form-select" aria-label="task status" id="task-status" v-model="f_status">
                                <option value="new">To Do</option>
                                <option value="pending">Pending</option>
                                <option value="done">Done</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="task-detail" class="col-form-label">Task detail:</label>
                            <textarea class="form-control" id="task-detail"  v-model="f_detail"></textarea>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" v-on:click="openDeleteTaskModal">Delete</button>
                        <button type="button" class="btn btn-outline-primary" v-on:click="openUpdateTaskModal">Update</button>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Create Task Modal -->
        <div class="modal fade" id="create_task_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create Task</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                        <div class="mb-3">
                            <label for="task-name" class="col-form-label">Task name:</label>
                            <input type="text" class="form-control" id="task-name" v-model="f_task">
                        </div>
                        <div class="mb-3">
                            <label for="task-detail" class="col-form-label">Task detail:</label>
                            <textarea class="form-control" id="task-detail" v-model="f_detail">{{picked_item.detail}}</textarea>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-outline-primary" v-on:click="createTask">Add this task</button>    
                    </div>
                </div>
            </div>
        </div>

        <!-- Update Item Modal -->
        <div class="modal fade" id="update_task_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirm: Update Task</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <span>Created at: {{picked_item.created_at}}</span><br>
                            <span>Status:</span>
                            <span class="badge bg-success rounded-pill" v-if="f_status === 'new'">To Do</span>
                            <span class="badge bg-warning rounded-pill" v-if="f_status === 'pending'">Pending</span>
                            <span class="badge bg-primary rounded-pill" v-if="f_status === 'done'">Done</span>
                        </div>
                        <form>
                        <div class="mb-3">
                            <label for="task-name" class="col-form-label">Task name:</label><br>
                            <span>{{f_task}}</span>
                        </div>
                        <div class="mb-3">
                            <label for="task-detail" class="col-form-label">Task detail:</label><br>
                            <span>{{f_detail}}</span>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-outline-primary" v-on:click="updateTask(picked_item)">Update this task</button> 
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Item Modal -->
        <div class="modal fade" id="delete_task_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirm: Delete Task</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <span>Created at: {{picked_item.created_at}}</span><br>
                            <span>Status:</span>
                            <span class="badge bg-success rounded-pill" v-if="picked_item.status === 'new'">New</span>
                            <span class="badge bg-primary rounded-pill" v-if="picked_item.status === 'done'">Done</span>
                        </div>
                        <form>
                        <div class="mb-3">
                            <label for="task-name" class="col-form-label">Task name:</label><br>
                            <span>{{picked_item.task}}</span>
                            <!-- <input type="text" class="form-control" id="task-name" v-model="picked_item.task"> -->
                        </div>
                        <div class="mb-3">
                            <label for="task-detail" class="col-form-label">Task detail:</label><br>
                            <span>{{picked_item.detail}}</span>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-outline-danger" v-on:click="deleteTask(picked_item)">Delete this task</button> 
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>
{% endraw %}

<!-- Vue.js script -->
<script>
// mycomp object
Vue.component('mycomp', {
    template: '#mycomp-template',
    data:function(){
        return {
            alert: 'TODO API',
            data: [{"id":"(null)", "task":"(null)", "status":"(null)", "crated_at":"(null)"}],
            picked_item: {},
            f_task: '',
            f_status: '',
            f_detail : ''
        }
    },
    methods:{
        getdata: function() {
            let self = this;
            $.get("/api/todos", function(data) {
                self.data = eval(data);
            });  
        },
        select: function(item) {
            let self = this;
            self.picked_item = item;
            self.f_task = item.task;
            self.f_status = item.status;
            self.f_detail = item.detail;
            self.openItemModal();
        },
        createTask: function() {
            let self = this;
            $.ajax({
                type: 'POST',
                url: '/api/todos/',
                data: JSON.stringify({
                    "task": self.f_task,
                    "detail": self.f_detail,
                    "status": "new"
                }),
                headers: {
                    'accept': 'application/json',
                    'Content-Type': 'application/json',
                },
                success: function(data) {
                    self.f_task = '';
                    self.f_detail = '';
                    self.getdata();
                    console.log('Success', data);
                    $('#create_task_modal').modal('hide');
                },
                error: function(request, status, err) {
                    console.log(err);
                    alert(err);
                    $('#create_task_modal').modal('hide');
                }
            });
        },
        updateTask: function(item) {
            let self = this;
            $.ajax({
                type: 'PUT',
                url: '/api/todos/' + item.id,
                data: JSON.stringify({
                    "task": self.f_task,
                    "status": self.f_status,
                    "detail": self.f_detail
                }),
                headers: {
                    'accept': 'application/json',
                    'Content-Type': 'application/json',
                },
                success: function(data) {
                    self.f_task = '';
                    self.f_status = '';
                    self.f_detail = '';
                    self.getdata();
                    console.log('Success', data);
                    alert("Successfully updated the task.");
                    $('#update_task_modal').modal('hide');
                },
                error: function(request, status, err) {
                    console.log(err);
                    alert(err);
                    $('#update_task_modal').modal('hide');
                }
            });
        },
        deleteTask: function(item) {
            let self = this;
            $.ajax({
                type: 'DELETE',
                url: '/api/todos/' + item.id,
                headers: {
                    'accept': 'application/json'
                },
                success: function(data) {
                    self.f_task = '';
                    self.f_status = '';
                    self.f_detail = '';
                    self.getdata();
                    console.log('Success', data);
                    alert("Successfully deleted the task.");
                    $('#delete_task_modal').modal('hide');
                },
                error: function(request, status, err) {
                    console.log(err);
                    alert(err);
                    $('#delete_task_modal').modal('hide');
                }
            });
        },
        changeStatusToNew: function(item){
            let self = this;
            $.ajax({
                type: 'PUT',
                url: '/api/todos/' + item.id,
                data: JSON.stringify({
                    "task": item.task,
                    "detail": item.detail,
                    "status": "new"
                }),
                headers: {
                    'accept': 'application/json',
                    'Content-Type': 'application/json',
                },
                success: function(data) {
                    self.getdata();
                    console.log('Success', data);
                },
                error: function(request, status, err) {
                    console.log(err);
                    alert(err);
                }
            });
        },
        changeStatusToDone: function(item){
            let self = this;
            $.ajax({
                type: 'PUT',
                url: '/api/todos/' + item.id,
                data: JSON.stringify({
                    "task": item.task,
                    "detail": item.detail,
                    "status": "done"
                }),
                headers: {
                    'accept': 'application/json',
                    'Content-Type': 'application/json',
                },
                success: function(data) {
                    self.getdata();
                    console.log('Success', data);
                },
                error: function(request, status, err) {
                    console.log(err);
                    alert(err);
                }
            });
        },
        openItemModal: function() {
            let self = this; 
            $('#item_modal').modal('show');
        },
        openCreateTaskModal: function() {
            let self = this; 
            $('#create_task_modal').modal('show');
        },
        openUpdateTaskModal: function() {
            let self = this;
            $('#item_modal').modal('hide');
            $('#update_task_modal').modal('show');
        },
        openDeleteTaskModal: function() {
            let self = this;
            $('#item_modal').modal('hide');
            $('#delete_task_modal').modal('show');
        },
    },
    created: function() {
        this.getdata()
    }
});



// start vue.
new Vue({
    el:'#app',
});
</script>
{% endblock %} 

<!-- {% block footer %}
{% endblock %}  -->
