{% extends "layout.html" %}

{% block title %}
TODO App
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<div class="mb-3" id="msg">{{ message }}</div>

<!-- Vue.js container -->
<div id="app" class="m-3">
    {% raw %}
    <mycomp />
    {% endraw %}
</div>

<!-- mycomp's template -->
{% raw %}
<script type="text/x-template" id="mycomp-template">
    <div>
        <h2>ToDo</h2>

        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-start" v-for="item in data" @click="select(item)">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{item.task}}</div>
                  memo(dummy)
                </div>
                <span class="badge bg-primary rounded-pill">Badge(dummy)</span>
            </li>
        </ul>

        <div class="modal fade" id="item_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Task</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <span>ID: </span><br>
                            <span>{{picked_item.id}}</span><br>
                            <span>Created at:</span><br>
                            <span>{{picked_item.created_at}}</span>
                        </div>
                        <form>
                        <div class="mb-3">
                            <label for="task-name" class="col-form-label">Task name:</label>
                            <input type="text" class="form-control" id="task-name" v-model="picked_item.task">
                        </div>
                        <div class="mb-3">
                            <label for="task-detail" class="col-form-label">Task detail:</label>
                            <textarea class="form-control" id="task-detail">dummy</textarea>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger">Delete(unimplemented)</button>
                        <button type="button" class="btn btn-outline-primary">Edit(unimplemented)</button>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>
{% endraw %}

<!-- Vue.js script -->
<script>
// mycomp object
Vue.component('mycomp', {
    template: '#mycomp-template',
    data:function(){
        return {
            alert: 'TODO API',
            data: [{"id":"(null)", "task":"(null)", "crated_at":"(null)"}],
            picked_item: {}
        }
    },
    methods:{
        getdata: function() {
            let self = this;
            $.get("/api/todos", function(data) {
                self.data = eval(data);
            });  
        },
        select: function (task) {
            let self = this;
            self.picked_item = task;
            self.openModal();
        },
        openModal: function() {
            let self = this; 
            $('#item_modal').modal('show');
        },
    },
    created: function() {
        this.getdata()
    }
});



// start vue.
new Vue({
    el:'#app',
});
</script>
{% endblock %} 

<!-- {% block footer %}
{% endblock %}  -->
